<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Can Haz Debug?</title>

	<link href="/static_example/css/debug.css" rel="stylesheet">
</head>

<body>
	<div id="thisCssIsReallyNotNecessary">
		<table>
			<tr>
				<td>IP</td>
				<td>{{ ip }}</td>
			</tr>
			<tr>
				<td>Port</td>
				<td>{{ port }}</td>
			</tr>
			<tr>
				<td>attribute_1</td>
				<td>{{ attribute_1 }}</td>
			</tr>
			<tr>
				<td>attribute_2</td>
				<td>{{ attribute_2 }}</td>
			</tr>
		</table>
	</div>
</body>

</html>
