/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<Navigation> Erstellt von Martin Dirkmorfeld und Lukas Ebbers*/

/*Design*/

	#naviBackground
	{
		background-color:rgba(0,0,0,0.3); /*schwarzer Hintergrund mit einer Sichtbarkeit von 30%*/
		border-bottom: black 2px solid; /*Unterer Rand der gesamten Navigation*/
		border-top: black 2px solid; /*Oberer Rand der gesamten Navigation*/
	}
	
    nav ul,nav ul li
	{		
	    background-color:rgba(0,0,0,0.3); /*schwarzer Hintergrund mit einer Sichtbarkeit von 30%*/
	}
	
	nav ul li:hover
	{
		/*Hintergrund der Unterpunkte der Navigation*/
	    background-color:rgba(0,0,0,0.3); 	/*schwarzer Hintergrund mit einer Sichtbarkeit von 30%*/
	}
	
	nav ul li ul li a:hover 
	{
		/*Mouseover der Untermenue Punkte*/
	    color: rgba(255, 140, 0, 0.6);	/*Orange, das in den Designrichtlinien festgelegt wurde*/
		background-color:rgba(255,255,255,0.3);	/*weißer Hintergrund mit einer Sichtbarkeit von 30%*/	
	}
	
	nav ul li ul li a 
	{
		/*Unterpunkte des Menues*/
		color: #64a8d1; /*Blau, das in den Designrichtlinien festgelegt wurde*/
		text-align: left;	
		font-weight:normal; /*Unterpunkte werden nicht in bold dargestellt*/
	}	
	
	nav a
	{
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); /*Text Schatten, damit es besser gelesen werden kann*/
	}
	
	#active
	{
		/*anzeige der aktiven Seite auf der Homepage*/
		background-color:rgba(255,255,255,0.3);		/*weißer Hintergrund mit einer Sichtbarkeit von 30%*/	
		box-shadow:inset 0px 0px 10px 5px rgba(255, 140, 0, 0.6); /*Oranger Boxshadow nach innen*/
		font-size:100%;	
	}
	
	#active ul li a
	{
		color: #ff8c00; /*Orange, das in den Designrichtlinien festgelegt wurde*/
		
	}
	
	nav ul li a 
	{
		/*Überpunkte in der Navigation*/
		color: #3d9ad1;		/*Blau, das in den Designrichtlinien festgelegt wurde*/
		text-align: center;	/*Zentrierung des Textes*/
		font-weight:bold;	/*die Schrift der Überpunkte wird in bold dargestellt*/
	}
	
/*Functionality*/	
																		          /* Dropdown Menu*/
	#naviBackground
	{
		margin-top: 3%; /*Abstand von 3% zum Header*/
		margin-bottom: 0; 
	}
	
	nav 
	{
	    width: 100%;
		font-family: 'Sarpanch',"Trebuchet MS", Helvetica, sans-serif;
	}
	
	nav ul 
	{
		/*Abstände der Listen auf 0*/
	    padding: 0px;
	    margin: 0px;
	}
	
	nav ul:after 
	{
	    clear: both;	/*Aufhebung des Float*/
	    content: "";	
	    display:block;	
	    visibility: hidden;		/**/
	}
	
    nav ul li 
	{
	    list-style: none; /*Entfernen der Punkte in den listen der Navigation*/
	    float:left; /*Floatet die Überpunkte nebeneinander*/
		width: 25%; /*Breite jedes Überpunktes*/
	}
	
	nav ul li a 
	{
	    display: block; /*Anzeige als Blockelement, damit die Höhe angepasst werden kann der Überpunkte*/
	    padding: 10px 30px; /*Innenabstände der Überpunkte, definieren auch die Größe der Überpunkte*/
	}
	
	nav ul li:hover > ul 
	{
	    visibility: visible; /*Anzeige der Unterpunkte beim Mouseover eines Überpunktes*/
	}
	
	nav ul li ul
	{
	    /*display: inline;*/
	    visibility: hidden; /*Verschwinden der Unterpunkte*/
	    position: absolute; /*Absolute Positionierung, beeinflusst damit nicht den Navigationshintergrund*/
	    padding:0; /*Innenabstand auf 0*/
	}
	
	nav ul li ul li{
	    float: none; /*Setzt die Unterpunkte untereinander*/
		width: auto; /*Automatische Breite der Unterpunkte*/
	}
	
/*</Navigation>*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/