/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<table> Erstellt von Martin Dirkmorfeld*/
	table 
	{
		border-collapse: collapse;
		border-spacing: 0px; /*kein abstände*/
		width:100%;
		margin: 3% auto;
	}

	th 
	{
		/*Kopfzeile der Tabellen*/
		font-weight: normal;
		background-color: rgba(255, 179, 87, 1);
		border-top: 4px solid #ff8c00;
		border-bottom: 1px solid #FFF;
		color: #039;
		padding: 0.5%; 
	}

	td 
	{
		background-color:rgba(255, 214, 163, 1);
		border-bottom: 1px solid #FFF;
		color: #669;
		border-top: 1px solid transparent;
		padding: 0.5%;
		vertical-align: top;
	}
	

	 tbody:hover tr:hover td
	 {
		/*Mouseover bei dem Tabellenwerten*/
		color: #444;
		box-shadow:inset 0px 0px 10px 5px rgba(255, 140, 0, 0.6);
		background-color:rgba(255, 140, 0, 0.6);
	}
/*</table>*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
