table {
	border-collapse: collapse;
    border-spacing: 0px;
    width: 75%;
	margin: 3% auto;
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
}

th {
    font-weight: normal;
    background-color: #B9C9FE;
    border-top: 4px solid #AABCFE;
    border-bottom: 1px solid #FFF;
    color: #039;
    padding: 8px;
}

td {
    background-color:#E8EDFF;
    border-bottom: 1px solid #FFF;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
	vertical-align: top;
}


 tbody:hover tr:hover td{
	color: #444;
	background-color:gray;
}

table tbody:hover td {
	
}