/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* <General Settings> Erstellt von Martin Dirkmorfeld*/																 	
	/*Design*/
	@import url(scrollbars.css) screen;
	
	body
	{
		background-color: white;
		font-size: 100%;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		background-color: #444248;
	}
	
	a
	{
		text-decoration: none;
		color: red;
	}
	/*Functionality*/
	
	body
	{
		padding: 0;
		width: 100%;
		height: 1080px;
	}

	/*<Zero Margin>*/
	
	h1, body
	{
		margin: 0;
	}
	
	/*</Zero Margin>*/
	
	.wrapper
	{
		width: 80%;
		margin: 0 auto;
	}

/*</General Settings>*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<Header> Erstellt von Martin Dirkmorfeld*/

	/*Design*/
	
	header#mainHeader
	{
		background-image: url(./images/banner.png);     										   /* der Hauptbanner */
	}
	
	#mainHeader img
	{
		opacity: 0.7;
	}
	
	#mainHeader h1
	{
		font-size: 75px;
		color: rgba(255,140,0,1);	/*Farbe???    Textshadow*/
		text-align: center;
		background-color:rgba(0,0,0,0.3);
	}
	
	
	/*Functionality*/
	
	header#mainHeader
	{
		width: 100%;
		background-size: 100% auto;
		padding: 5% 0 4% 0;
		border-bottom: 5px solid #1b1b1b;
	}

/*</Header>*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<Navigation> Erstellt von Martin Dirkmorfeld und Lukas Ebbers*/

/*Design*/

	#naviBackground
	{
		background-color:rgba(0,0,0,0.3);
		border-bottom: black 2px solid;
		border-top: black 2px solid;
	}
	
    nav ul,nav ul li
	{
	    background-color:rgba(0,0,0,0.3);
	}
	
	nav ul li:hover
	{
	    background-color:rgba(0,0,0,0.3); 	/*Farbe???*/
	}
	
	nav ul li ul li
	{
		border-bottom: black 0.3px dotted;
		border-top: black 0.3px dotted;
	}
	
	nav ul li ul li a:hover
	{
	    color: red;
		background-color:rgba(255,255,255,0.3);		/*Farbe???*/
	}
	
	#active
	{
		background-color:rgba(255,255,255,0.3);			/*Farbe???    hellblau*/
		box-shadow:inset 0px 0px 10px 5px rgba(255, 140, 0, .6); 
		font-size:100%;	
		
	}
	
	#active ul li a
	{
		color: #ff8c00; 		/*Farbe???    dunkelblau*/
		
	}
	
	nav ul li a 
	{
		color: #3d9ad1;
		text-align: center;
		font-weight:bold;
	}
	
	nav ul li ul li a 
	{
		color: #64a8d1;
		text-align: left;
		font-weight:normal;
	}
	
/*Functionality*/	
																		          /* Dropdown Menu*/
	#naviBackground
	{
		margin-top: 3%;
		margin-bottom: 0;
	}
	
	nav 
	{
	    width: 100%;
	}
	
	nav ul 
	{
	    padding: 0px;
	    margin: 0px;
	}
	
	nav ul:after 
	{
	    clear: both;
	    content: "";
	    display:block;
	    visibility: hidden;
	}
	
    nav ul li 
	{
	    list-style: none;
	    float:left;
		width: 25%;
	}
	
	nav ul li a 
	{
	    display: block;
	    padding: 10px 30px;
	}
	
	nav ul li:hover > ul 
	{
	    visibility: visible;
	}
	
	nav ul li ul
	{
	    display: inline;
	    visibility: hidden;
	    position: absolute;
	    padding:0;
	}
	
	nav ul li ul li{
	    float: none;
		width: auto;
	}
	
/*</Navigation>*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<Main> Erstellt von Lukas Ebbers*/

	/*Design*/
	
	#mainBackground
	{
		background-color: #37353a;	
		border-bottom: 3px solid #999;
	}
	
	.main
	{
		background-color:#444248;
		padding:0;
	}
	
	/*Functionality*/
	
	#mainBackground
	{
		height: auto;
	}
	
	article
	{
		text-align: center;
		padding: 1% 5%;
		color: white;
		
	}
	
	a  h2
	{
		color: rgba(255,140,0,1);
		
	}
	
	article header
	{
		color: rgba(255,140,0,1);
		font-size: 20px;
		border-bottom: 1px dashed rgba(255,140,0,1);
	}
	
	.main
	{
		min-height:650px;	
	}	
	
	form input, form textarea
	{
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	}

/*</Main>*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<Footer> Erstellt von Lukas Ebbers*/

	/*Design*/
	
	#mainFooter
	{
		background-color: #777;
		/*background-color: #444248;*/
		color: white;
	}
	
	#mainFooter a
	{
		color: #64a8d1;
	}
	/*Functionality*/	
	
	#mainFooter
	{
		height: 10%;
		bottom: 0;
		left: 10%;
		text-align: center;
	}
	

	
/*</Footer>*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<Responsive Settings>  Erstellt von Martin Dirkmorfeld und Lukas Ebbers*/
@media only screen and (max-width: 560px) 
{
/*<Navigation>*/
									 												  /*Accordion Menu*/
	/*Design*/
	
	nav ul li a 
	{
		text-align: left;
	}
	
	/*Functionality*/
	
	nav
	{
		width: auto;
	}
	
    nav ul li
	{
	    float:none;
		width: auto;
	}
	
	nav ul li ul 
	{
	    position: relative;
	    display: none;
	    visibility: hidden;
		height: 0;
	}
	
	nav ul li:hover > ul 
	{
	    visibility: visible;
		height: auto;
	}
	
	nav ul li:active > ul 
	{
	    visibility: visible;
		height: auto;
	}
	
	nav ul:after 
	{
		clear: both;
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}
	
	nav ul li a 
	{
		text-decoration: none;
		display: block;
	}
	
	nav ul li ul
	{
    display: block;
    padding: 0px;
	position: relative;
	}
	
	nav ul li ul li
	{
		float: none;
		display: block;
		border: none;
	}
	
	nav ul li ul li a 
	{
    padding-left: 44px;
    color: #FAFAFA;
	}
	
/*</Navigation>*/

	#mainFooter
	{
		position: relative;
		left: 0;
		width: 100%;
		clear:both;
	}
	
	form input, form textarea
	{
	width: 80%;
	min-width: 80%;
	max-width: 80%;
	}
}
/*</Responsive Settings>*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*<Buttons>*/

	.btn_download 
	{
		background-color: orange;		/*Farbe*/
		padding: 0.5% 2%;
		color: white;
		border-bottom: 1px solid gray;
		border-top: 1px solid gray;
	}
	
	.btn_download:hover 
	{
		background-color: orange;		/*Farbe   dunkler */
	}	

/*</Buttons>*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	#newtag:hover
	{
	color: green;
	}
	
	.shadow
	{
	box-shadow:inset 0px 0px 8px 4px rgba(61, 154, 209, .2); 
	}
	
	.leftcontent
	{
	width:100%;
	clear:both;
	padding:20px;
	}
	
	.leftcontent img
	{
	float: left;
	width:10%;
	height:auto;
	}
	
	.leftcontent p
	{
	margin-left: 15%;
	text-align:left;
	clear: right;
	}
	
	.rightcontent
	{
	width:100%;
	clear:both;
	text-align:right;
	padding:20px;
	}
	
	.rightcontent img
	{
	float: right;
	width:10%;
	height:auto;
	}
	
	.rightcontent p
	{
	margin-right: 15%;
	text-align:left;
	clear: left;
	}
	


